source http://www.nuget.org/api/v2
redirects: on
framework: >= net45 

nuget BenchmarkDotNet.Diagnostics.Windows
nuget FSharp.Core redirects: force
nuget System.Numerics.Vectors framework net46

group Build
    source https://nuget.org/api/v2
    framework: >= net45 
      
    nuget SourceLink.Fake
    nuget FAKE
    nuget FSharp.Formatting

    github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
    source http://www.nuget.org/api/v2
    framework: >= net45 
    redirects: on
    nuget MathNET.Numerics
    nuget MathNet.Numerics.FSharp
    nuget MathNet.Numerics.MKL.Win-x64
    nuget BenchmarkDotnet
    nuget FsCheck
    nuget NUnit
    nuget NUnit.Runners
    nuget Streams 
    nuget Streams.CSharp
    nuget System.Reflection.Metadata
    nuget Unquote